
#all-order-list-contents{
    overflow-y: auto !important;
    overflow-x: auto !important;
}
#all-order-list-contents::-webkit-scrollbar-track
{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	background-color: #F5F5F5 !important;
	border-radius: 0px !important;
}

#all-order-list-contents::-webkit-scrollbar
{
	width: 20px !important;
	background-color: #F5F5F5 !important;
}

#all-order-list-contents::-webkit-scrollbar-thumb
{
		background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

#all-order-list-contents::-webkit-scrollbar:horizontal {
		height: 20px;
	}