@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;700&family=Raleway:ital,wght@0,500;0,600;0,700;1,600&display=swap');

.container{
  position: relative;

}
.customisebanner{
  background: url("./images/BG (1).png") no-repeat;
  background-size: cover;
  margin: auto;
  padding: 4%;
  font-family: 'Montserrat';
  background-color: black;  
  filter: blur(8px);
 
}

.popupdiv{
    position: absolute;
  /*  top: 50%; */
    right: 50%;
    transform: translate(50%,-50%);
    z-index: 9999;
  }
  .card{
    padding: 11%;
    width: 85%;
  }
  .card p{
    font-size: 21px;
    font-weight: 700;
    color:#6E6E70;
    line-height: 1.3;
  }
  .card button{
    border: none;
    border-radius: 11px;
    padding: 4%;
    width: 100%;
  }

  #closebtn{
    color: white;
    font-weight: 600;
    background-color: #626063;
  }
  @media only screen and (max-width:400px) {
    .popupdiv{
        right:1%;
        left: 1%;
        top: 30%;
        transform: translate(0%,0%);
    }
    .card p{
        font-size: 18px;
        
      }
    
  }
  @media only screen and (max-width: 600px) and (min-width: 401px)  {
    .popupdiv{
        right: 30%;
        top: 30%;
        transform: translate(20%,-20%);
    }
    
  }

  .coupon_title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 28.5714px !important;
line-height: 34px;
  }
  .coupon_sub_title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px !important;
line-height: 20px;

letter-spacing: 1.42857px;
text-transform: uppercase;
color: #6E6E70;
width:500px;
  }
  #promo_field{
       background: #FFFFFF;
    border: 1.42857px solid #6E6E70;
    border-radius: 11.4286px;
    width: 100%;
    height: 68px;
  }
  #confirm_btn{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18.5714px;
    line-height: 20px;
    letter-spacing: 1.32653px;
    text-transform: uppercase;
    color: #FFFFFF;
     height: 68.57px;

  }

  #confirm_cancel{
      background: #FFFFFF;
box-shadow: 0px 0px 5.71429px rgba(0, 0, 0, 0.25);
border-radius: 11.4286px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18.5714px;
line-height: 20px;
/* identical to box height, or 108% */

text-align: center;
letter-spacing: 1.32653px;
text-transform: uppercase;

/* New color tone/文字顏色 */

color: #6E6E70;
  height: 68.57px;
  }
#confirm_close{
      background: #626063;
box-shadow: 0px 0px 5.71429px rgba(0, 0, 0, 0.25);
border-radius: 11.4286px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18.5714px;
line-height: 20px;
/* identical to box height, or 108% */

text-align: center;
letter-spacing: 1.32653px;
text-transform: uppercase;

/* New color tone/文字顏色 */
color: #FFFFFF;
  height: 68.57px;
}
.use_coupon_code{
    background: #626063;
    border-radius: 1.0885px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
/* or 100% */

display: flex;
align-items: center;
text-align: center;

/* #FFFFFF */

color: #FFFFFF;
Width:167px;
Height:37px;
    justify-content: center;
        cursor: pointer;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}